* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
  font-family: Sans-Serif;
  background-color: white;
  color: #37454d; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}


.front-page-background {
  background-color:black;
  background:url(https://images.unsplash.com/photo-1508495761350-6a8bf2a2128a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6f5c6aef82385e442e5b1b6f439c733&auto=format&fit=crop&w=1950&q=80) center center  no-repeat;
  background-size: cover;
  width:100%;
  height:400px;
  padding: 0px;
}


.center {
  margin-left: auto;
  margin-right: auto;
}


.hide {
	display: none;
}

.blue-heading-text {
	color: #007fad;
}

.main-button {
	background-color: #428501; 
}

.main-button:hover {
	background-color: #316300;
}

.important-button {
	background-color: #007ead;
}

.important-button:hover {
	background-color: #005f81;
}

.big-button {
	height: 100px;
	width: 200px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0 0 0 20px;
    text-align: center;
    white-space: nowrap;
    font-size: 18px;
    font-weight: normal;
}

.grey-button: {
	background-color: #697379;
}

.darkgrey-box-background {
	background-color: #293339;
}

.midgrey-box-background {
	background-color:#37454d;
}

.lightgrey-box-background {
	background-color:#ebeced;
}

.title-box {
	height: 60px;
	color: white;
	margin: 0px;
	padding-left: 30px;
	padding-top: 10px;
}

.big-headers {
	padding-left: 30px;
	padding-top: 10px;
	text-align: center;
}

.box-box {
	position: relative;
}