* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
}

body {
  font-family: Sans-Serif;
  background-color: white;
  color: black; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  font-size: 18px;
}


.front-page-background {
  background-color:white;
  /*background:url(https://images.unsplash.com/photo-1508495761350-6a8bf2a2128a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d6f5c6aef82385e442e5b1b6f439c733&auto=format&fit=crop&w=1950&q=80) center center  no-repeat;
  background-size: cover;
  width:auto;
  height:800px;
  padding: 0px;
  */  
}


.center {
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

.top-icon {
  margin-top: -40px;
}



.blue-heading-text {
	color: #007fad;
}

.main-button {
	background-color: #428501; 
}

.main-button:hover {
	background-color: #316300;
}

.important-button {
	background-color: #00b5fc;
}

.important-button:hover {
	background-color: #005f81;
}

.big-button {
	height: 100px;
	width: 100px;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 0 0 0 20px;
    text-align: center;
    white-space: nowrap;
    font-size: 24px;
    font-weight: normal;
}

.add-button {
	display: block;
    width: 95%;
    height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-weight: 700;
}

.blue-background {
 background-color: #00b5fc;
}

.lighterblue-background {
  background-color: #e5f7fe;
}

.lightblue-background {
  background-color: #ccf0fe;
}

.black-text {
  color: black;
}

.main-color-text {
 color: #00b5fc;
}
.contrast-color {
 background-color: #b5fc00;
}

.contrast-color-text {
 color: #b5fc00;
}

.white-background {
  background-color:  white;
}

.white-text {
  color: white;
}

.complimentary-color {
  background-color: #fc4700;
}

.complimentary-color-text {
  color: #fc4700;
}

.smaller-text {
  font-size:  12px; 
}

.grey-button: {
	background-color: #697379;
}

.darkgrey-box-background {
	background-color: #293339;
}

.midgrey-box-background {
	background-color:#37454d;
}

.lightgrey-box-background {
	background-color:#ebeced;
}

.results-box {
  padding: 10px;
  margin: 5px; 

}

.title-box {
	height: 50px;
	color: white;
	margin: 0px;
	padding-left: 30px;
	padding-top: 10px;
}

.big-headers {
	padding-left: 8px;
	padding-top: 10px;
	text-align: center;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

.box-box {
	position: relative;
}

.login-form-container {
    width: 300px;
    padding: 40px;
    border-radius: 3px;
    margin: 41px auto; 
    border-radius:  30px;
}

.no-box-input {
    border-style: none;
    background: none;
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
    color: white;
    width: 95%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

legend {
  text-align: center;
  color: white;
}


.create-account-form {
	margin-left: 5px;
	margin-top: 10px;
}


.login-input-group {
	 margin-top: 28px;
}


.create-input-group {
   margin-top: 20px;
}

.button-95 {
	 display: block;
    width: 95%;
    height: 30px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 33px;
    font-weight: 700;
    border-radius:  10px;
    outline:  none; 
    border-style: none;
    border-width: 1px
    color: black;
}

.button-35 {
   display: inline-block;
    height: 30px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 33px;
    color: white;
    font-weight: 700;
    padding: 5px;
    outline:  none; 
}

.button-35-b {
   display: inline-block;
    height: 30px;
    text-align: center;
    color: white;
    font-weight: 700;
    padding: 5px;
    outline:  none; 
    border-style:   none;
    border-radius:  5px;
}

.check {
  display: inline-block;
}

.hide {
  display: none;
}

.join-button-area p{
font-size: 12px; 
}

.show-join-button {
	 display: block;
    width: 30%;
    height: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-weight: 700;
    /* background-color: transparent; */
    border-style: none;
    border-width: 1px;
    /* color: #007ead; */
    border-radius: 10px;
    /* border-color: darkgray; */
    margin-left: auto;
    margin-right: auto;
}

.pop-up-container {
    width: 300px;
    padding: 40px;
    border-radius: 3px;
    background: #ffffff;
    margin: 41px auto;
    box-shadow: 2px 2px; 
}

fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}

.welcome-login {
	margin: 5px;
}

.bucketlist-heading {
	text-align: center; 
}

.bucketlist-form {
padding: 5px;
}

.bucket-list-item {
	margin: 5px;
	font-size: 18px;
  border-style:   none;
  border-width:   1px;
  border-color:   grey;
  border-radius:  5px;
  padding: 15px 5px; 

} 

.user-list {
  border-width: 2px;
  width: 80%;
  padding: 5px 8px;
  border-style: solid;
  background: white;
  margin: 15px auto;
  border-radius: 10px; 
  box-shadow: 2px 2px; 
}

.place-result {
	  padding: 8px 16px;
    border: 1px solid #ddd;
    overflow: auto;
    margin: 5px;
    background-color: #b5d7e2;
}


/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
    background-color: white;
    margin: auto auto; /*originally 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 200px;
    height: 300px;
 }

 .modal-button {
display: block;

 }

.btn-delete {
position: relative;
 border: 1px solid black;
  display: inline-block;
}

.btn-delete::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rating {
  /*unicode-bidi: bidi-override;
  direction: rtl; */
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

textarea {
  max-width:  90%; 
}
/*.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
*/
@media only screen and (min-width: 640px) {

 .login-form-container {
    width: 400px;
  
}

.pop-up-container {
    width: 500px;
    
}

}